version: "3.4"

services:
  vue3viteexpressjsboilerplate:
    image: chatgptweatherplugin:dev
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: development
    ports:
      - 6909:6909
      - 9229:9229
    command: ["node", "--inspect=0.0.0.0:9229", "app.js"]
